body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px;
}

label, input {
    margin: 5px;
}

#results {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
